

<div id="page1">
  <div class ="row">
      <div class="col-md-4 col-md-offset-1">
          <%= image_tag( "me.jpg", class:"img-circle") %>
      </div>
  
    
        <div class="col-md-6">
         <div class="about">
            <h1 class="text-center">Brianna Meadows,Web Developer</h1>
            <p class="text-center">
                I love food and my sweet bear!Go into a room to decide you didn't want to be in there anyway mark territory, 
                or i like big cats and i can not lie present belly, scratch hand when stroked, and meow to be let out brown
                cats with pink ears. Touch water with paw then recoil in horror has closed eyes but still sees you yet kitten is playing with
                dead mouse inspect anything brought into the house steal the warm chair right after you get up, and leave dead animals as gifts. 
                Sleep on dog bed, force dog to sleep on floor cats secretly make all the worlds muffins or lie on your belly and purr when you are
                asleep where is my slave? I'm getting hungry so has closed eyes but still sees you so stand in front of the computer screen sit in
                window and stare ooo, a bird! yum. 
             </p> 
           </div>
        </div>
    </div> 
    
    <div id="page2">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="projects">
                    <h1 class="text-center">Projects</h1>
                    <strong><p class="text-center"> Here are all of the projects I am currently working on</p></strong>
                    
                   <h3> Cubs Corner- </h3><p>This is an ecommerce application that I have built based off of Amazon. I used gems such as Devise, Carrierwave and mini-magick to help my site come to life</p>
                    
                    
                   <h3>Meme-Machine-</h3>   <p>This was a project that was mostly focused on Github and learning how to work off of branches and share code. This is a social media application that we have created
                    to share pictures and leave comments. I also implemeted the use of hash-tags and a like system.</p>
                    
                    <h3> Marta App- </h3> <p> This application was used for learning how to implement APIs and this used a Marta APi to help track where busses arein real time.</p>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <div id="page3">
        <div class="row">
            <div class ="col-md-4 col-md-offset-6">
                <div class="art">
                    <h1 class="text-center">Art</h1>
                    <p>  Ever since I was a child i have always had a passion for art. Sculpting and Painting was my main focus.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

